* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
.body {
    color: #30D9C3;
}

.search__input {
    border: solid 2px #30D9C3;
    width: 400px;
    height: 40px;
    color: white;
}
.button {
    background-color: #30D9C3;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border-style: none;
}

.afterSearch {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.thumbnail {
  width: 90%;
    object-fit: fill;
}

.hidden {
    display: none;
}
 .favList {
     
     color: pink;
    padding-right: 50px;
    height: 100vh;
    border: solid 2px;
    width: 30%;
}
.results {
    margin-left: 50px;
    color:lightgray;
    height: 100vh;
    border: solid 2px;
    width: 70%;
    
}
.foundResults {
    display: flex;
    flex-wrap: wrap;
}

.favorite{
     color: #30D9C3;
     border: #30D9C3 solid 2px;
}
.movieCard {
   list-style: none;
    width: 23%;
    padding: 30px;
}

.favCard {
    list-style: none;
    width: 50%;
}